body{
    margin: 0px;;
    background-color: whitesmoke;
    font-family: Times, Times New Roman, serif;
}
.link{
    color: black;
}
.main-box{
    margin: 40px;
}
.home-paper{
    margin: 100px;
    padding: 20px;
}
nav{
    height: 25px;
    background-color: tan;

    padding: 10px;
}
.footer-container{
    margin-top: 50px;
    height: 100px;
    background-color: #B0C4DE;
    padding: 25px;
    text-align: justify;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-disclaimer{
    font-size: 14px;
    color: white;
    opacity: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.footer-disclaimer-link{
    color: white;
}


.home-img-qoute-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home-text{
    font-size: 20px;
}
.home-nav{
    margin-top: 20px;
    margin-bottom: 20px;
}
.container {
    position: relative;
    
}

.home-covid-img{
    width: 100%;
    max-height: 715px;
}
  
.container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100% - 100px;
    padding-top: 50px; /* Some padding */
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

}
.home-h1{
    font-size: 30px;

}

.home-description{
    font-size: 20px;
}


.home-nav{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.home-nav-sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-nav-sub-title{
    color: #B0C4DE;
    font-size: 30px;
}



.deseaseInfo-container{
    display: flex;
    flex-direction: row;
}
.deseaseInfo-title{
    font-size: 25px;
    margin-bottom: 10px;
}
.deseaseInfo-img{
    width: 60%;
    
    opacity: 85%;
}
.deseaseInfo-container-sub{
    width: 40%;

    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}




.visualize-container{
    display: flex;
    flex-direction: row;
}
.visualize-title{
    font-size: 35px;
    margin-bottom: 15px;
}
.visualize-img{
    width: 60%;
    
    opacity: 85%;
}
.visualize-container-sub{
    width: 40%;

    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.visualize-chart-sub-container{
    display: flex;
    flex-direction: column;
}
.visualize-chart-sub-title{
    font-size: 20px;
    margin-top: 15px;
    margin-left: -10px;
}








.symptoms-main-container{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
.symptoms-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}
.symptoms-title{
    font-size: 28px;
}
.symptoms-description{
    font-size: 18px;
    text-align: justify;
}
.symptoms-symptom-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.symptoms-symptom-list-ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.symptoms-symptom-list-li{
    padding: 6px;
}



.symptoms-medical-attention-container{
    background-color: rgb(222, 202, 176, .60);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 45px;

    color: black;
}
.symptoms-medical-attention-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.symptoms-medical-attention-title{
    font-size: 25px;
}
.symptoms-medical-attention-description{
    font-size: 18px;
}
.symptoms-medical-attention-list{
    font-size: 16px;
}

.symptoms-medical-attention-li{
    font-size: 16px;

    padding: 4px;
}

.symptoms-prepare-container{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
.symptoms-prepare-title{
    font-size: 28px;
}
.symptoms-prepare-description{
    font-size: 18px;
    text-align: justify;
}






.vaccines-main-container{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;

}
.vaccines-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
.vaccines-title{
    font-size: 28px;
}
.vaccines-description{
    font-size: 18px;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vaccines-list-container{
    display: flex;
    flex-direction: column;
}
.vaccines-list-description{
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.vaccines-list-ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}
.vaccines-list-li{
    font-size: 18px;

    padding: 6px;
}
.vaccines-list-li-li{
    font-size: 16px;
    padding: 6px;
    list-style-type: circle;
}
.vaccines-sick-container{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
.vaccines-sick-title{
    font-size: 28px;
}
.vaccines-sick-description{
    font-size: 18px;
    text-align: justify;
}





.testing-main-container{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;

}
.testing-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
.testing-title{
    font-size: 28px;
}
.testing-description{
    font-size: 18px;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
}

.testing-list-container{
    display: flex;
    flex-direction: column;
}
.testing-list-description{
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.testing-list-ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}
.testing-list-li{
    font-size: 18px;

    padding: 6px;
}


.testing-resources-container{
    background-color: rgb(222, 202, 176, .60);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 45px;

    color: black;
}
.testing-resources-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.testing-resources-title{
    font-size: 25px;
}
.testing-resources-list{
    font-size: 18px;
}
.testing-resources-li{
    font-size: 16px;

    padding: 6px;
}



.PieChart-Title{
    font-size: 40px;
    margin-bottom: 20px;
}
.BarChart-Title{
    font-size: 40px;
    margin-bottom: 20px; 
}

.chartContainer{
    margin-left: 100px;
    margin-right: 100px;
    max-height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.chartContainerPieChart{
    margin-left: 150px;
    margin-right: 150px;
    max-height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}